%-*-Erlang-*-
% vim: ft=erlang
{erl_opts, [debug_info,{parse_transform, lager_transform}]}.

{deps_dir, ["./deps"]}.

{template_dir, "priv/dtl"}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}} %% optional
       ,{fs,    ".*", {git, "git://github.com/synrc/fs", {tag, "0.9"}}}
       ,{sh,    ".*", {git, "git://github.com/naga-web/sh", {tag, "0.9"}}}
       ,{pmod_transform, ".*", {git, "git://github.com/erlang/pmod_transform.git", {branch, "master"}}}
       ,{cowboy,  ".*", {git, "git://github.com/mihawk/cowboy.git",{tag, "master"}}}
       ,{erlydtl, ".*", {git, "git://github.com/naga-web/erlydtl.git", {branch, "master"}}}
       ,{n2o,     ".*", {git, "https://github.com/mihawk/n2o.git", {tag, "master"}}}        
       ,{ex_fcgi, ".*", {git, "git://github.com/naga-web/ex_fcgi.git", {tag, "1.0.0"}}}

       ,{lfe,     ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "develop"}}} %v0.9.1
       ]}.

{erlydtl_opts, [
                {doc_root,   "priv/dtl"},
                {out_dir,    "ebin"},
                {source_ext, ".dtl"},
                {module_ext, "_dtl"},
                {compiler_options, [debug_info]},
                report, return
    ]}.

{cover_enabled, true}.

