%-*-Erlang-*-
% vim: ft=erlang

{deps_dir, ["./deps"]}.

{template_dir, "priv/dtl"}.

{deps, [
        {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl",       {tag, "0.8.0"}  }},
        {nitro,  ".*", {git, "git://github.com/naga-framework/nitro",     {tag, "naga_v2"} }},
        {mad,    ".*", {git, "git://github.com/naga-framework/mad",       {tag, "naga_v2"} }},
        {fs,     ".*", {git, "git://github.com/synrc/fs",                 {tag, "1.9"}    }},
        {sh,     ".*", {git, "git://github.com/synrc/sh",                 {tag, "1.9"}    }},
    %   {kjell,  ".*", {git, "git://github.com/karlll/kjell",             {tag, "master"} }},
        {active, ".*", {git, "git://github.com/synrc/active",             {tag, "1.9"}    }},
        {n2o,    ".*", {git, "https://github.com/naga-framework/n2o.git", {branch, "naga_v2"}}}        
       ]}.

{erlydtl_opts, [
                {doc_root,   "priv/template"},
                {out_dir,    "ebin"},
                {source_ext, ".html"},
                {module_ext, "_view"},
                {auto_escape, false},
                {compiler_options, [debug_info]},
                report, return
    ]}.

{cover_enabled, true}.

